div{
	margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h1{
	font-family: 'Wallpoet', cursive;
	font-size: 70px;
	text-align: center;
	margin: 0px;
	color:#59631E;
}

#score{
	display: block;
	color:#8EA106;
	margin: 0;
}

#high-score{
	float: right;
	display: block;
	color:#59631E;
	margin-top: 0px;
}

#level{
	display: block;
	color:#8EA106;
	margin: 0;
}